<configuration>
    <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\LiuXiLing" />
    <add key="DJANGO_SETTINGS_MODULE" value="LiuXiLing.settings" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="C:C:\inetpub\wwwroot\LiuXiLing\wsgi.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
  </appSettings>
</configuration>